html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #F1EFE7;
  /* Light grey background color */
}
/* FIXME */
.navbar-nav .nav-item.active .nav-link {
  color: #E36414;
  background-color: transparent;
  text-decoration: none;
}


.navbar-custom {
  background-color: #B6B096;
  /* Transparent white background color */
  backdrop-filter: blur(10px);
  /* Apply a blur effect to the navbar */
}

.navbar-custom .navbar-brand {
  color: #E36414;
}

.navbar-custom .nav-link {
  color: #0F4C5C;
  /* Blue text color */
}

.blue {
  color: #0F4C5C;
  /* Blue text color */
}

.orange {
  color: #E36414;
  /*Naruto Orange*/
}

.tan {
  color: #B6B096;
  /*Tan*/
}
/*h1{
  padding: 10px 10px;
}
p{
  padding: 0px 10px;
}
*/
.calculator {
  background-color: #FFFF;

  /*White*/
  h1 {
    color: #E36414
      /*Naruto Orange*/
  }

  h2 {
    color: #E36414
      /*Naruto Orange*/
  }

  label {
    color: #0F4C5C;
  }

  p {
    color: #0F4C5C;
    /*Dark Blue*/
  }

  .jumbotron {
    width: 10%;
  }
}
/*.left{
  align-items: left;
  a:link, a:visited, a:active {
    color:#0F4C5C;
     text-decoration: none;
   }
  a:hover { 
    text-shadow: 2px 2px 5px #0F4C5C;
    box-shadow: 2px 2px 5px #0F4C5C;
   }
}

.charities .right{
  align-items: right;
  text-align: right;
  a:link, a:visited, a:active {
    color:#0F4C5C;
     text-decoration: none;
   }
  a:hover { 
    text-shadow: 2px 2px 5px #0F4C5C;
    box-shadow: 2px 2px 5px #0F4C5C;
   }
}
*/
.left {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
  a:link, a:visited, a:active {
      color:#0F4C5C;
       text-decoration: none;
     }
    a:hover { 
      text-shadow: 2px 2px 5px #0F4C5C;
      box-shadow: 2px 2px 5px #0F4C5C;
     }
}

.charity-item {
    display: flex;
    padding-bottom: 10px;
    padding-right: 10px;
    flex-direction: column;
}

.right {
    text-align: left;
    align-content: right;
  
  a:link, a:visited, a:active {
    color:#0F4C5C;
     text-decoration: none;
   }
  a:hover { 
    text-shadow: 2px 2px 5px #0F4C5C;
    box-shadow: 2px 2px 5px #0F4C5C;
   }
  .23_271 { 
    overflow:hidden;
  }
  .e23_271 { 
    width:1728px;
    height:500px;
    position:absolute;
  }
  .e15_265 { 
    width:1728px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
    background-image:url(asset/13.png);
    background-repeat:no-repeat;
    background-size:cover;
  }
  .e23_270 { 
    background-color:rgba(0, 0, 0, 0.5);
    width:1728px;
    height:500px;
    position:absolute;
    left:0px;
    top:0px;
  }
  .e23_272 { 
    color:rgba(255, 255, 255, 1);
    width:779px;
    height:145px;
    position:absolute;
    left:474px;
    top:153px;
    font-family:League Spartan;
    text-align:center;
    font-size:60px;
    letter-spacing:0;
}